.custom_header {
    background-color: #f0f0f0;
    color: #333;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .custom_body {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /* Estilo para o Accordion quando todas as abas estão fechadas */
.caixa .accordion-button:not(.collapsed) {
  margin-bottom: 0; /* Remove o espaço quando todas as abas estão fechadas */
}

