
@import '../../style/padroes.scss'; 
@import '../../style/mixin.sass';

.sectionDuvidasSobremim{
    @include altura;
    @include flexColumnCeterCenter;
    flex-wrap: wrap;
}

.SobreMimconTeudo{
    @include flexCenterCenter;
}

.divDuvidasImagem{
    display: flex;
    justify-content: center;
}

.divTexto{
    @include flexColumnCeterCenter;
    padding: 2rem;
}

.divDuvidasImagem img {
    max-width: 80%; /* Garante que a imagem não ultrapasse seu contêiner */
    max-height: 100%; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Deixa a imagem com bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho do contêiner mantendo a proporção */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Adiciona transições suaves */
  }

.divDuvidasImagem img:hover {
    @include imagemHover;
  }

.sectionDuvidasSobremim h1{
    font-size: $tamanhoLetrasTitulosUm;
    font-family: var(--font-cursive);
    display: flex;
}

.SobreMimconTeudo div {
    @include larguraResponsiva;
}

.divTexto div{
     @include larguraResponsivaCemPorCento;
}



@media screen and (max-width: 678px){
    .SobreMimconTeudo{
        display: flex;
        flex-direction: column;
    }

    .SobreMimconTeudo div {
        @include larguraResponsivaCemPorCento;
      
    }
}