@import '../../style/padroes.scss'; 
@import '../../style/mixin.sass';

/* Estilos para a seção sobre */
.sectionSobreMIm {
    @include altura;
    @include flexColumnCeterCenter;
    @include textCenter; /* Alinhamento do texto ao centro */
    padding: 2rem;
  }

.conTeudo {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.DivSobreMimImagem{
    @include larguraResponsiva;
    @include flexContentCenter;
}

.divTexto{
 @include larguraResponsiva;
}

.DivSobreMimImagem img {
    max-width: 80%; /* Garante que a imagem não ultrapasse seu contêiner */
    max-height: 100%; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Deixa a imagem com bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho do contêiner mantendo a proporção */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Adiciona transições suaves */
  }

.DivSobreMimImagem img:hover {
      @include imagemHover;
  }
  
  .sectionSobreMIm h1 {
    font-size: $tamanhoLetrasTitulosUm;
    margin-bottom: 3rem;
}
  
  .divTexto p {
    font-size: $tamanhoLetrasParagrafos;
    line-height: 1.6;
    color: #555;
  }
  
  /* Estilos para dispositivos menores */
  @media screen and (max-width: 768px) {
    .conTeudo {
        @include columnCentralizado;
        padding: 2rem;
        gap: 2rem;
      }

      .DivSobreMimImagem{
        @include larguraResponsivaCemPorCento;
      }
      
      .divTexto{
        @include larguraResponsivaCemPorCento;
      }
      

    .sectionSobreMIm h1 {
      font-size: $tamanhoLetrasTitulosUm;
    }
  
    .divTexto p {
      font-size: $tamanhoLetrasParagrafos;
    }
  }
  