@import '../../style/padroes.scss';
@import '../../style/mixin.sass';


.card{
    max-width: 30rem;
    @include flexColumn;
}

.cardImagem{
    @include larguraResponsivaCemPorCento;
    height: 100%;
    min-height: 10rem;
    max-height: 20rem;
}

.customButton {
    background-color: #494949; /* Cinza médio */
    color: #fff; /* Texto branco */
    border: none;
    padding: 2% 4%; /* Altere os valores para ajustar o preenchimento */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em; /* Use em para um tamanho de fonte responsivo */
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ocupa toda a largura do contêiner */
    box-sizing: border-box; /* Inclui preenchimento e borda na largura total */
    text-transform: uppercase;
    font-size: 1.3rem
  }
  

.cardBody{
    @include larguraResponsivaCemPorCento;
    @include flexColumn;
}

.cardBody h4{
    font-size: $tamanhoLetrasTitulosTres;
    font-Weight: 'bold'  
}

.cardBody p{
    font-size: $tamanhoLetrasParagrafos;
}

.cardBody Button{
    font-size: $tamanhoLetrasButton;
    text-transform: $texttransform;
    background-color: #333; /* Cor de fundo cinza mais escura */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 8px 16px; /* Espaçamento interno */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: background-color 0.3s ease; /* Transição suave */
}
  
  /* Estilos para o botão ao passar o mouse */
.cardBody Button:hover {
    background-color: #555; /* Cor de fundo alterada ao passar o mouse */
  }
  

