@import '../../style/padroes.scss';
@import '../../style/mixin.sass';

.footer{
    display: block;
}

.footer p{
    font-size: $tamanhoLetrasParagrafos;
}

.footer a{
    font-size: $tamanhoLetrasParagrafos;
    color: darkgray;
}

.footer a:hover{
    font-size: $tamanhoLetrasParagrafos;
    color: darkgray;
}

.divFooter span{
    font-size: $tamanhoLetrasParagrafos;
}