@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Variáveis
$backgroundDarkgray: rgb(169, 169, 169);
$background-black: rgb(0, 0, 0);
$backgroundButton: rgb(70, 70, 70);
$backgroundButtonHover: rgb(66, 42, 1);

$cor: white;
$corBlack: black;

//Paragrafos e TiTulos
$tamanhoLetrasParagrafos:  1.3rem ;
$tamanhoLetrasTitulosUm: 2rem;
$tamanhoLetrasTitulosDois: 1.7rem;
$tamanhoLetrasTitulosTres: 1.5rem;
$tamanhoLetrasTitulosQuatro: 1rem;

//Eslos /TexTos
$texttransform: uppercase;




