@import url('https://fonts.googleapis.com/scss2?family=Roboto:wght@400;700&display=swap');

// Variáveis
$backgroundDarkgray: rgb(169, 169, 169);
$background-black: rgb(0, 0, 0);
$backgroundButton: rgb(70, 70, 70);
$backgroundButtonHover: rgb(66, 42, 1);

$cor: white;
$corBlack: black;

//Paragrafos e TiTulos
$tamanhoLetrasParagrafos:  1.4rem ;
$tamanhoLetrasTitulosUm: 5.7rem;
$tamanhoLetrasTitulosUmMenor: 4rem;
$tamanhoLetrasTitulosDois: 2rem;
$tamanhoLetrasTitulosTres: 1.7rem;
$tamanhoLetrasTitulosQuatro: 1.4rem;
$tamanhoLetrasButton: 1.2rem;

//Eslos /TexTos
$texttransform: uppercase;




